RewriteEngine on

RewriteRule ^$                          index.php?mo=lista&op=list            [QSA,L]
RewriteRule ^crear/lista$               index.php?mo=lista&op=create          [QSA,L]
RewriteRule ^borrar/lista/([1-9]+)$     index.php?mo=lista&op=delete&id=$1    [QSA,L]
RewriteRule ^editar/lista/([1-9]+)$     index.php?mo=lista&op=update&id=$1    [QSA,L]